/* *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} */
.container{
background-color: brown;
height: 500px;
border: 3px solid black;
display: grid;
grid-template-columns: 150px repeat(2,1fr);
grid-template-rows: 30px repeat(1,1fr) 30px;
gap: 4px;
}
.box{
    background-color: aqua;
    border: 1px solid black;
    border-collapse: collapse;
    /* width: 80px; */
    /* height: 80px; */
}
 #box1,#box4{
    grid-column-start: 1;
    grid-column-end: 4;
}
#box3{
    grid-column-start: 2;
    grid-column-end: 4;

} 
#box2{
    grid-template-rows: 1;
    grid-template-columns: ;

}